<div class="badge">
    <div class="row">
        <div class="col">
            <div class="card rounded mb-4 border border-5 border-success">
                <div class="card-body">
                    <p class="text-light text-center"></p>
                    <h1 class="card-title">Disfruta de un mes gratis</h1>
                    <h2 class="card-subtitle mb-2 text-center">No necesitas brindar información de pago</h2>
                    <h3 class="text-left">No dejes pasar esta oportunidad</h3>
                    <h3 class="text-center">Escucha a todos tus artistas favoritos</h3>
                    <form action="/FreeTrial" method="POST">
                        <button type="submit" class="btn btn-success" value="StartFreeTrial">Comenzar prueba</button>
                    </form>
                </div>
            </div>
            <img class="img-fluid rounded w-70" src="https://m.media-amazon.com/images/I/71Jx3DUwN1L.jpg">

        </div>
        <div class="col">
            <img class="img-fluid rounded w-70"
                src="https://www.euphoriazine.com/wp-content/uploads/2024/05/Leigh-Anne-Lead-Image-may24.jpg">
        </div>
    </div>
</div>
</div>
</body>

</html>