<nav class="navbar navbar-expand-lg rounded bg-secondary mb-4">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <form action="/xp3" method="GET">
                    <li class="nav-item">
                        <input class="nav-link active text-light" type="submit" value="Inicio"></input>
                    </li>
                </form>
                <form action="/FreeTrial" method="GET">
                    <input class="nav-link active text-light" type="submit" value="Prueba Gratuita"></input>
                </form>
            </ul>
        </div>
    </div>
</nav>