<div class="row">
    <div class="col"></div>
    <div class="col-auto">
        <div class="card  align-items-center border border-success border-5 text-center">
            <p></p>
            <div class="card-title fs-3 fw-semibold">Registrar cuenta</div>
            <div class="card-body">
                <form action="/Register" method="POST">
                    <label for="username" class="form-label fw-medium">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <label for="correo" class="form-label fw-medium">Correo
                        electrónico</label>
                    <input type="email" class="form-control" id="correo" name="correo" placeholder="nombre@ejemplo.com">
                    <label for="contrasena" class="col-form-label fw-medium">Contraseña</label>
                    <input type="password" id="contrasena" name="contrasena" class="form-control"
                        aria-describedby="passwordHelpInline">
                    <p></p>
                    <input class="btn btn-success text-center" type="submit" value="Ingresar">
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>

</div>
</div>
</body>

</html>