<div class="container">
    <div class="row">
        <div class="col-4 ">
            <div class="mb-3">
                <% for (let privilegio of privilegios) { %>
                    <% if(privilegio.nombre=="crear cancion" ) { %>
                    <a href="/Library" class="btn btn-lg text-light">
                        Biblioteca
                    </a>
                <% } else if (privilegio.nombre=="agregar cancion biblioteca"){%>
                    <a href="/Library" class="btn btn-lg text-light">
                        Inicio
                    </a>
                    <br>
                    <a href="/MyLibrary" class="btn btn-lg text-light">
                        Mi biblioteca
                    </a>
                <% } } %>
                <br>
                <% for (let privilegio of privilegios) { %>
                <% if(privilegio.nombre=="crear cancion" ) { %>
                    <a href="/AgregarCancion" class="btn btn-lg text-light">
                        Nueva Canción
                    </a>
                <% } }%>
            </div>
        </div>
    