<div class="container">
    <div class="row">
        <div class="col-4 ">
            <div class="mb-3">
                <form action="/Library" method="GET">
                    <input class="btn btn-lg text-light" type="submit" value="Biblioteca"></input>
                </form>
                <form action="/AgregarPlaylist" method="GET">
                    <input class="btn btn-lg text-light" type="submit" value="Nueva Playlist"></input>
                </form>
                <form action="/AgregarCancion" method="GET">
                    <input class="btn btn-lg text-light" type="submit" value="Nueva Canción"></input>
                </form>
            </div>
        </div>