<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Xime</title>


</head>

<body>

    <header>
        <h1 class="has-text-primary-light"><strong>Xime Perez</strong></h1>
    </header>
    <form action="/users/login" method="GET">
        <input class="button" type="submit" value="Login" />
    </form>
