<form action="/nombre" method="POST">
    <label for="nombre" class="label">Introduce tu nombre</label>
    <input class="input is-info" type="text" placeholder="Nombre" id="nombre" name="nombre" />
    <br><br>
    <input class="button is-info" type="submit" value="Enviar">
</form>;